# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
*.sqlite

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore application configuration
/config/application.yml

# Ignore node modules
/univentures/node_modules

# Ignore bundle
/univentures/frontend/bundle.js
/univentures/frontend/bundle.js.map

# IDEs
.vscode
.settings

# Random files
*~
\#*

# Python compiled byte code
*.pyc